
:root{
    --main-bg:hsl(217, 54%, 11%);
    --card-bg:hsl(216, 50%, 16%);
    --white:hsl(0, 0%, 100%);
}
body{
    background-color: var(--main-bg);
    height: 100vh;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;

}
.main-card{
    background-color:var(--card-bg);
    border-radius: 10px;

}
.card-img{
   display:flex;
   justify-content: center;
    
}
.card-img img{
    border-radius:10px;
    padding-top: 20px;
    width: 300px;
}
.equilibrium{
    background-color:hsl(216, 50%, 16%);
    
}
.equilibrium h1{
    color:var(--white);
    font-size:1.2em;
    padding: 10px 15px;
    text-align: left;
}

.creation{
    display: flex;
    align-items: center;
}
.creation img{
    width:40px;
    border: 1px solid white;
    border-radius: 20px;
}
.creation p{
    display: inline-block;
}
