@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
:root{
    --main-bg:hsl(217, 54%, 11%);
    --card-bg:hsl(216, 50%, 16%);
    --very-dark-blue-line:hsl(215, 32%, 27%);
    --white:hsl(0, 0%, 100%);
    --cyan: hsl(178, 100%, 50%);
    --soft-blue:hsl(215, 51%, 70%);
}
body{
    background-color: var(--main-bg);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    min-width: 375px;
    max-width: 1440px;
    font-family: "Outfit", sans-serif;
    font-size: 18px;
}
.container{
    display: flex;
    justify-content: center;
}
.main-card{
    background-color:var(--card-bg);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    min-width: 250px;
    max-width: 300px;
    box-shadow: 1px 48px 23px var(--main-bg);
}
.hover{
    display: none;
}
.card-img{
    display: flex;
    align-content: space-around;
    justify-content: space-around;
    padding-bottom: 15px;
    width: 100%; 
}
.card-img img{
    border-radius:10px;
    min-height: 250px;
    max-height: 300px;
}
.equilibrium{
    width:100%;
}
.equilibrium h1{
    color:var(--white);
    text-align: left;
    font-weight: 600;
    padding:10px 0px 25px 0px;
}
:hover.equilibrium h1 {
    color: var(--cyan);
}
.equilibrium p{
    color: var(--soft-blue);
    padding-bottom: 25px;
    line-height: 1.6;
}
.equilibrium .space{
    display: flex;
    justify-content: space-between ;
}
.equilibrium .days{
    color: var(--very-dark-blue-line);
}
.equilibrium .eth{
    color: var(--cyan);
}

hr {
    width: 100%; 
	border: 0.1px solid; 
	border-color:var(--very-dark-blue-line);
}
.creation{
    display: flex;
    align-items: center;
    min-width: 100%;
}
.creation img{
    width:30px;
    border: 1px solid white;
    border-radius: 20px;
    margin-right: 20px;
}
.creation p{
    display: inline-block;
    color: var(--soft-blue);
    font-size: 0.9rem;
}
.creation p .name{
    color: var(--white);
}
:hover.creation p .name{
    color: var(--cyan);
}
.attribution {
    font-size: 11px;
    text-align: center;
    min-width:250px;
    max-width: 300px;
    margin: 0 auto;
    box-shadow:1px 15px 10px var(--main-bg);
}
.attribution a { 
    color: hsl(228, 45%, 44%);
}
